<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>100</integer>
                        <key>enemyType</key>
                        <integer>2</integer>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
                        <integer>3000</integer>
                        <key>enemyType</key>
                        <integer>3</integer>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
                        <integer>6000</integer>
                        <key>enemyType</key>
                        <integer>1</integer>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
                        <integer>9000</integer>
                        <key>enemyType</key>
                        <integer>4</integer>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
                        <integer>12000</integer>
                        <key>enemyType</key>
                        <integer>0</integer>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
                        <integer>15000</integer>
                        <key>enemyType</key>
                        <integer>0</integer>
		</dict>
	</array>
	<array>
		<dict> 
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>1000</integer>
                        <key>enemyType</key>
                        <integer>2</integer>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>2000</integer>
                        <key>enemyType</key>
                        <integer>0</integer>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>3000</integer>
                        <key>enemyType</key>
                        <integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>1000</integer>
                        <key>enemyType</key>
                        <integer>0</integer>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>2000</integer>
                        <key>enemyType</key>
                        <integer>0</integer>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>3000</integer>
                        <key>enemyType</key>
                        <integer>0</integer>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>4000</integer>
                        <key>enemyType</key>
                        <integer>0</integer>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>5000</integer>
                        <key>enemyType</key>
                        <integer>0</integer>
		</dict>
	</array>
        <array>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>100</integer>
                        <key>enemyType</key>
                        <integer>0</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>3000</integer>
                        <key>enemyType</key>
                        <integer>1</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>6000</integer>
                        <key>enemyType</key>
                        <integer>0</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>9000</integer>
                        <key>enemyType</key>
                        <integer>0</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>12000</integer>
                        <key>enemyType</key>
                        <integer>0</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>15000</integer>
                        <key>enemyType</key>
                        <integer>0</integer>
                </dict>
        </array>
</array>
</plist>
